@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SlashTodo.Web.ViewModels.ViewModelBase>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
