@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SlashTodo.Web.ViewModels.EmptyViewModel>
@{
    Layout = "_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <h1 class="logo"><code>/todo</code></h1>
        <p class="lead">
            Simple, collaborative per-conversation task management for teams using <a href="https://slack.com/">Slack</a>.
        </p>
        <a href="@Url.Content("~/login")" class="btn btn-primary btn-lg">Sign in with Slack to get started</a>
        <p style="margin-top: 0.5em;"><small>You need to be a <strong>Team Administrator</strong> for your Slack team in order to set up the service.</small></p>
        <p class="disclaimer">
            <strong>Please note:</strong>
            <code>/todo</code> is not created by, affiliated with, or supported by Slack Technologies, Inc.
        </p>
    </div>
</div>
